h1 {
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}

li {
    list-style: none;
}



.hello {
    background-color: #24292e;
    color: white;
}

#mainpic img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

.section {
    max-width: 960px;
    margin: 0 auto 130px auto;
}

.section-title {
    text-align: center;
}

nav a:hover {
    color: #808080;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 5px;
    margin: 10px 10px 0px 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav ul li:hover {
    background-color: #24292e;
    border-radius: 5px;
    color: white;
    font: bold;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #c8c8c8;
}

/* about */
#about li:first-child {
    margin-bottom: 30px;
}

/* news */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    margin: 0%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px 0 15px 40px;
    box-sizing: border-box;
}

#news dd {
    width: 80%;
    margin: 0%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
}

/* contact */
#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width:25%;
    padding-left: 40px;
    box-sizing: border-box;
}

#contact dd {
    width:65%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact dd input,
#contact dd textarea {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 5px;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    box-shadow: 2px 2px 4px;
}

/* footer */
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
  }