h1 {
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}

#mainpic img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

.section {
    max-width: 960px;
    margin: 10px auto 100px auto;
}

.section-title {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}