h1 {
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}

li {
    list-style: none;
}

#mainpic img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

.section {
    max-width: 960px;
    margin: 0 auto 130px auto;
}

.section-title {
    text-align: center;
}

nav a:hover {
    color: #808080;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* about */
#about li:first-child {
    margin-bottom: 30px;
}

/* news */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

/* contact */
#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width:15%;
}

#contact dd {
    width:85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    padding: 5px;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

/* footer */
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
  }